<ion-content>
  
      <p > Resultados </p>
      <h1>{{v_tema_actual}}</h1>
   
      <canvas #doughnutCanvas></canvas>
  
      <p>Top sugerencias</p>
      
      <h6 style="text-align:left">Reconocimiento de musica</h6>
      
      <ion-toggle [(ngModel)]="toggleCambiarTema" (ngModelChange)="toggleCambiarTemaUpdate($event)" ></ion-toggle>
      <ion-list no-lines>
        <button ion-item *ngFor="let tema of ranking_temas">
          {{ tema.nombre }}
        </button> 
      </ion-list>

      <!-- <ion-list inset>
          <button ion-item *ngFor="let item of items" >
            {{ item }}
          </button>
          <ion-item *ngFor="let tema of temas | async"> {{item}}  </ion-item>
        </ion-list> -->

        <!-- <ion-list>

          <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="https://ionicframework.com/dist/preview-app/www/assets/img/venkman.jpg">
              </ion-avatar>

              <h2>Slimer</h2>
              <h2 style="text-align:right">2</h2>
              
            </ion-item>
          </ion-item-sliding>


          <ion-item-sliding>
              <ion-item>
                <ion-avatar item-start>
                  <img src="https://ionicframework.com/dist/preview-app/www/assets/img/venkman.jpg">
                </ion-avatar>
                <h2>SL</h2>
              </ion-item>
            </ion-item-sliding>

        </ion-list> -->
        
      
     
  </ion-content>