.ios, .md {
    
       page-home {
    
           .scroll-content {
               background: linear-gradient(  black, #1C201D, #5C645A);
           }
    

           p{color : white; text-align: center;font-size: 25px;}
           h1{color : white; text-align: center;font-size: 20px;}
      
    
       }
    
   }