page-home {
    .app{
        //background: linear-gradient(#5C645A, #1C201D,  black);
        background: linear-gradient(  black, #1C201D, #5C645A);
          

      }

    p{
         color : white; text-align: center;font-size: 25px;
     }
}